<div  class ="space"></div>
<div *ngIf = "condition">
    <div class="container" *ngFor = "let usuario of teste | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
            <div class ="fade"></div>
            <div class= "linha">    
            <img class = "rounded" [src]="usuario.img" alt="foto dos usuários"/>
            <div class="break">
                <p>{{usuario.name}}</p>
                <p><span>ID:</span>{{usuario.id}} <span>User-name:</span>{{usuario.username}}</p>
            </div> 
            <button (click)="modal(usuario)">pagar</button>  
        </div>
    </div>
    <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>

<div class="back" *ngIf = "!condition">
</div>
<div class="modal" *ngIf = "!condition">
    

    <div class = "header" *ngIf = "!approved">
        <div class="link_container">
            <a href="javascript:function f(e){e.preventDefault();}" class="close" (click)="close()">x</a>
        </div>
     
        <h2 class="just">Pagamento para <span class="name">{{current_user.name}}</span></h2>
        <img [src]="current_user.img" alt="" class="rounded bottom">
        <div id="cash">
            <span>Valor:</span>
            <input id="price" placeholder="R$ 0,00" currencyMask [(ngModel)]="value" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
        </div><br>
        <div id="cards">
            <label for="options">Cartões: </label>
            <select name="" id="options" >
                <option class="opt" value="" *ngFor = "let card of cards; let i = index"><span>final </span>{{last[i]}} </option>
            </select>
        </div>
        <button id="pay" (click) = "total($event)">pagar</button>
    </div>
    <div class= "payment" *ngIf = "approved">
        <div class="link_container">
            <a href="javascript:function f(e){e.preventDefault();}" class="close" (click)="close()">x</a>
        </div> 
        <img [src]="current_user.img" alt="" class="rounded bottom">
        <h1>aprovado</h1>
        <h2>Finalizado pagamento no valor de {{value}}</h2>
    </div>

</div>


